<div class="projectlist">
    {% for post in site.posts %}
    	{% if post.categories contains 'projects' and post.mytype contains 'normal' %}
		    <ul class="listprojects list-unstyled">
		    	<li>
		    		<div class="prolistdate">{{ post.mydate }}</div>
		    		<div class="prolist"><a href="{{ post.url }}">{{ post.title }}</a></div>
		    		<div class="prolistintro">{{ post.prointro }}</div>
		    	</li>
		    </ul>
    	{% endif %}
    {% endfor %}

    <h3 line-height="140%">Course-based</h3>

    {% for post in site.posts %}
    	{% if post.categories contains 'projects' and post.mytype contains 'course' %}
		    <ul class="listprojects list-unstyled">
		    	<li>
		    		<div class="prolistdate">{{ post.mydate }}</div>
		    		<div class="prolist"><a href="{{ post.url }}">{{ post.title }}</a></div>
		    		<div class="prolistintro">{{ post.prointro }}</div><br>
		    	</li>
		    </ul>
    	{% endif %}
    {% endfor %}
</div><!--/.notelist -->
