<div class="projectlist">
    {% for post in site.posts %}
    	{% if post.categories contains 'projects' %}
		    <ul class="listprojects list-unstyled">
		    	<li><img class="img-responsive" src="{{ post.cover }}"/>
		    		<div class="prolist"><a href="{{ post.url }}">{{ post.title }}</a></div>
		    		<div class="prolistdate">{{ post.date }}</div>
		    	</li>
		      <li><span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
		    </ul>
    	{% endif %}
    {% endfor %}
</div><!--/.notelist -->
