---
layout: default
notes: active
---

<div class="notes">
		<div class="note single">
			<h1 class="title">{{ page.title }}</h1>
			
			{% if page.hasdate %}
				<h2 class="date"><info datetime="{{ page.date }}">
					{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
				</info></h2>
			{% endif %}

			<!-- Post content -->
			<div class="notebody">
				{% if page.categories contains 'videos' and page.youtubeurl %}
					<p><iframe width="600" height="330" src="https://www.youtube.com/embed/{{ page.youtubeurl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br></p>
					<p><a href="https://www.youtube.com/watch?v={{ page.youtubeurl }}">Watch this video on YouTube</a><p/>
				{% endif %}

				{% if page.categories contains 'videos' and page.bilibiliurl %}
					<p><iframe src="//player.bilibili.com/player.html?"{{ page.bilibiliurl }} scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe></p>
					<p><a href="https://www.bilibili.com/video/av{{ page.bilibiliav }}">Watch this video on Bilibili</a><p/>
				{% endif %}

				{{ content }}
				
			</div>


			<!-- Post info -->
			<div class="noteinfo">
			<!-- include some categories and tags maybe? -->
			</div>

			<hr>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
		</div><!-- / .note .single -->
</div><!-- /.notes -->
